/*Meditation Page*/
.mbody, .mhtml {
    height: 100%;
    margin: 0px;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
}


/*Nav Bar*/
.mNav{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #D2ECFF;
    gap: 75px;
}

.mSearchAndProfile{
    padding-left: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
}

.profilePic{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 60px;
}

.mNavBrand{
    font-size: 28px;
    color: #000000;
    font-weight: 700;
}

.mNavSleep{
    font-size: 21px;
    color: #000000;
}

.mNavSleep:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.mNavMood{
    font-size: 21px;
    color: #000000;
}

.mNavMood:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.mNavMeditation{
    font-size: 21px;
    font-weight: 700;
    text-decoration: underline;
    color: #000000;
}


.mNavMeditation:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.mNavResource{
    font-size: 21px;
    color: #000000;
}

.mNavResource:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.searchIcon{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

/*Nav Bar End*/

/*Section 1*/
.mSection1{
    background-color: #EFEFEF;
    height: 549px;
}

.mSection1TopAlign{
    display: flex;
    flex-direction: column;
    width: 1280px;
}

.mSection1Header{
    margin: 0;
    font-size: 24px;
    color: #000000;
}

.mSection1Slogan{
    font-size: 70px;
    color: #000000;
    margin: 0;
    font-weight: 500;
}

.mSection1In{
    font-size: 34px;
    color: #000000;
    animation-name: breathIn;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.mSection1Out{
    font-size: 34px;
    color: #000000;
    animation-name: breathOut;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.mBreathInOut{
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    padding-top: 50px;
}


.mSection1Bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mSection1Top{
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.mAnimatedCircle{
    height: 300px;
    width: 300px;
    animation-name: breathCircle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes breathOut{
    0%{
        opacity: 0%;
    }
    40%{
        opacity: 0%;
    }
    48%{
        opacity: 10%;
    }
    52%{
        opacity: 100%;
    }
    55%{
        opacity: 100%;
    }
    90%{
        opacity: 50%;
    }
    100%{
        opacity: 10%;
    }
}

@keyframes breathIn{
    0%{
        opacity: 10%;
    }
    5%{
        opacity: 50%;
    }
    48%{
        opacity: 100%;
    }
    52%{
        opacity: 0%;
    }
    90%{
        opacity: 0%;
    }
    100%{
        opacity: 10%;
    }
}

@keyframes breathCircle{
    0%{
        height: 200px;
        width: 200px;
    }
    50%{
        height: 300px;
        width: 300px;
    }
    100%{
        height: 200px;
        width: 200px;
    }
}

/*Section2*/

.mSection2{
    background-color: #ffffff;
    height: 1506px;
    display: flex;
    justify-content: center;
}

.mSection2Align{
    display: flex;
    flex-direction: column;
}

.mBoxImage{
    width: 510px;
    height: 280px;
    object-fit: cover;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}


.mS1-1Header{
    font-size: 34px;
    color: #000000;
    padding-bottom: 2px;
    padding-top: 130px;
}

.mS1-1SubHeader{
    font-size: 34px;
    color: #000000;
}

.mSection2-1Box{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 16px;
}

.mS1-1RightBox{
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
    width: 760px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 280px;
}

.mClockIcon{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.mSpeakerIcon{
    width: 60px;
    height: 60px;
    object-fit: cover;
    padding-left: 15px;
}

.mS1IconWTextSpeaker{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-left: 15px;
}

.mS1IconWTextClock{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}

.mS1IconText{
    font-size: 24px;
    color: #444444;
    margin: 0;
}

.mS1HeaderText{
    font-size: 24px;
    color: #191919;
    margin: 0;
}

.mS1-1RightTop{
    padding-top: 15px;
    padding-left: 35px;
}

.mS1-1RightBottom{
    padding-top: 70px;
}

.mSection2Part2{
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
}

.mSection2Part2Align

.m2BoxImage{
    width: 400px;
    height: 238px;
    object-fit: cover;
    border-radius: 15px;
    transition: 300ms;
}

.m2BoxImage:hover{
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.mS2TopRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.mS2BottomRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.mS2Box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;
}

.mS2-2TopText{
    font-size: 24px;
    color: #191919;
    margin-top: 0;
}

.S2-2Header{
    font-size: 34px;
    color: #000000;
    padding-bottom: 30px;
    padding-top: 40px;
}

/*Footer*/
.mFooter{
    background-color: #D2ECFF;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 540px;
}

.mFooter1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mFooterListItem{
    font-size: 18px;
    color: #000000;
}

.mFooterSectionTitle{
    font-size: 24px;
    padding-bottom: 5px;
    font-weight: 600;
    color: #000000;
}

.mFooter1Header {
    margin: 0;
    padding-bottom: 10px;
    color: #000000;
    font-size: 38px;
}


.mFooter1Description {
    margin: 0;
    font-size: 18px;
    color: #000000;
}

.mFooter2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

.mFooter2List {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000000;
}

/*END FOOTER*/



/*Landing Page*/ 
.lanBody, .lanhtml {
    height: 100%;
    margin: 0px;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

.iNav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #D2ECFF;
    gap: 75px;
}

.iSearchAndProfile{
    padding-left: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
}

.profilePic2 {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 60px;
}

.iNavBrand {
    font-size: 28px;
    color: #000000;
    font-weight: 700;
}

.iNavSleep {
    font-size: 21px;
    color: #000000;
}
.iNavSleep:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.iNavMood {
    font-size: 21px;
    color: #000000;
}
.iNavMood:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.iNavMeditation {
    font-size: 21px;
    color: #000000;
}
.iNavMeditation:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.iNavResource {
    font-size: 21px;
    color: #000000;
}
.iNavResource:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.searchIcon1 {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
span.searchField {
    position: absolute;
    display: none; 
    width: auto;
    top: 4%;
    right: 15%; 
    color: #F9F4F2;
    padding: 5px;
}

input#searchBar{
    font-size: 20px;
    border-radius: 10px;
}

a:hover .searchField {
    display: block; 
    text-align: center;

}


/*Nav Bar End*/

.wave {
    height: 831px;
    width: 100vw;
    display: block;
}

.section1 {
    display: flex;
    justify-content: center;
}

.section1Container{
    position:relative;
    display: inline-block;
}

.section1Align{
    display: flex;
    flex-direction: column;
}

.section1Header {
    font-size: 24px;
    color: #ffffff;
    z-index: 10;
    position: absolute;
    top: 189px;
    left: 15%;
}

.arrow {
    display: flex;
    gap: 20px;
}

.join {
    border-radius: 20px;
    width: 110px;
    height: 40px;
    border-color: transparent;
    background-color:#F9F4F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.join:hover{
    cursor: pointer;
    color:  #1278c1;
}

.morningRoutine {
    margin-top: 20px;
    color: rgba(0, 0, 0, 1);
    height: 350px;
    font-size: 24px;
    padding-top: 140px;
    display: flex;
    justify-content: center;
}

.morningRoutineAlign{
    display: flex;
    flex-direction: column;
}

.morning {
    margin-top: 20px;
    height: 280px;
    display: flex;
    text-align: left;
    justify-content: center;
}

.morningPic {
    width: 514px;
    max-height: 280px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.morningBox {
    width: 766px;
    height: 280px;
    background-color: #e0dbd9;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.p1 {
    padding-left: 30px;
}

.afternoonRoutine {
    color: rgba(0, 0, 0, 1);
    height: 350px;
    font-size: 24px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.afternoonRoutineAlign{
    display: flex;
    flex-direction: column;
}

.afternoon {
    margin-top: 20px;
    height: 280px;
    display: flex;
    text-align: left;
    justify-content: center;
}

.afternoonPic {
    width: 514px;
    max-height: 280px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.afternoonBox {

    width: 766px;
    height: 280px;
    background-color: #e0dbd9;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.p2 {
    padding-left: 30px;
}


.nightRoutine {
    color: rgba(0, 0, 0, 1);
    height: 350px;
    font-size: 24px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.nightRoutineAlign{
    display: flex;
    flex-direction: column;
}

.linkNight{
    text-decoration: none;
    color: #000000;
    
    
}
.morningLink{
    text-decoration: none;
    color: #000000;
}
.afternoonlink{
    text-decoration: none;
    color: #000000;
}
.linkNight:hover{
    cursor: pointer;
    color: #1278c1;

}
.afternoonlink:hover{
    cursor: pointer;
    color: #1278c1;

}
.morningLink:hover{
    cursor: pointer;
    color: #1278c1;
}




.night {
    margin-top: 20px;
    height: 280px;
    display: flex;
    text-align: left;
    justify-content: center;


}

.nightPic {
    width: 514px;
    max-height: 280px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

}

.nightBox {
    width: 766px;
    height: 280px;
    background-color: #e0dbd9;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.p3 {
    padding-left: 30px;
}

.lanMainBody{
    display: flex;
    flex-direction: column;
}

.section3 {
   display: flex;
   justify-content: center;
   width: 100%;
}

.section3Align{
    display: flex;
    flex-direction: column;
}

.videorow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topImages{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.vid {
  left: 35%;
  font-family: Verdana;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  padding-top: 90px;
  padding-bottom: 30px;
}

.road{
    width: 800px;
    height: 478px;
    object-fit: cover;
    top: 5%;
    opacity:0.4

}
.van{
    width: 800px;
    height: 478px;
    object-fit: cover;
    top: 5%;
    left: 70%;
    opacity:0.4
    


}
.sun {
    width: 800px;
    height: 478px;
    opacity: 1;
    object-fit: cover;
    top: 5%;
    left: 35%;
    display: block;
}
.play-button{
    width: 100px;
    height: 100px;
    opacity: 1;
    z-index: 10;
    position: absolute;
    top: 189px;
    left: 350px;

}
.afterVid {
    height: 33%;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 120px;
}

.name-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

.section4{
    display: flex;
    justify-content: center;
}

.section4Align{
    display: flex;
    flex-direction: column;
}

.container1{
    position:relative;
    display: inline-block;
}

.container2{
    position:relative;
    display: inline-block;
}

.container3{
    position:relative;
    display: inline-block;
}

.bottomRow1{
    display: flex;
    flex-direction: column;
}

.bottomRow2{
    display: flex;
    flex-direction: column;
}

.bottomRow3{
    display: flex;
    flex-direction: column;
}

.mountains1{
    border-radius: 25px;
    transition: 300ms;
    display:block;
    width: 620px;
    height: 446px;
}




.mountains1:hover{
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.hike{
    width: 640px;
    height: 446px;
    display:block;
    border-radius: 25px;
    transition: 300ms;
    object-fit: cover;
    
}

.hike:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.bottom-pics{
    display: flex;
    flex-direction: row;
    gap: 57px;
    justify-content: center;
    padding-bottom: 120px;
}

.roadtrip{
    width: 400px;
    height: 238px;
    object-fit: cover;
    border-radius: 25px;
    transition: 300mx;
}

.roadtrip:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}
.morning-breeze{
    width: 400px;
    height: 238px;
    object-fit: cover;
    border-radius: 25px;
    transition: 300ms;
}

.morning-breeze:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.field{
    width: 400px;
    height: 238px;
    object-fit: cover;
    border-radius: 25px;
    transition: 300ms;
}

.field:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.firstline{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size:xx-large;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 30px;
}

.secondline{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size:xx-large;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 30px;
}

.label{
    font-size: 24px;
    color: #000000;
}

.labeltwo{
    font-size: 24px;
    color: #000000;
}
.labelthree{
    font-size: 24px;
    color: #000000;
}




/*Footer*/
.lFooter {
    background-color: #D2ECFF;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 540px;
}

.lFooter1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lFooterListItem {
    font-size: 18px;
    color: #000000;
}

.lFooterSectionTitle {
    font-size: 24px;
    padding-bottom: 5px;
    font-weight: 600;
    color: #000000;
}

.lFooter1Header {
    margin: 0;
    padding-bottom: 10px;
    color: #000000;
    font-size: 38px;
}

.lFooter1Description {
    margin: 0;
    font-size: 18px;
    color: #000000;
}

.lFooter2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

.lFooter2List {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000000;
}



/*Sleep Page*/

.sleepBody, .sleepHTML{
    height: 100%;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color:#000000;
}

/*Sleep Nav Bar*/
.sleepNav{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #D2ECFF;
    gap: 75px;
}

.sleepSearchAndProfile{
    padding-left: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
}

.sleepProfilePic{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 60px;
}

.sleepNavBrand{
    font-size: 28px;
    color: #000000;
    font-weight: 700;
}

.sleepNavSleep{
    font-size: 21px;
    color: #000000;
    font-weight: 700;
    text-decoration: underline;
}

.sleepNavSleep:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.sleepNavMood{
    font-size: 21px;
    color: #000000;
}

.sleepNavMood:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.sleepNavMed{
    font-size: 21px;
    color: #000000;
}


.sleepNavMed:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.sleepNavRes{
    font-size: 21px;
    color: #000000;
}

.sleepNavRes:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.searchIcon{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

/*Sleep Nav Bar Ends*/

.sleepTopColumn {
    background-color: #EFEFEF;
    height: 549px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#000000;
}

.sleepBottomColumn {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    height: 2800px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#000000;
    font-size:small;
}

@media only screen and (max-width:950px){
    .sleepBottomColumn {
    height:5600px;
    }
}

.sleepHeaderText {
    padding-top:30px;
    margin:0;
    padding-left:9%;
    font-weight:lighter;
    font-size:24px;
}

@media only screen and (max-width:950px){
    .sleepHeaderText {
    font-size:20px;
    }
}

.sleepHeaderTitle {
    padding-left:9%;
    margin-top:0;
    margin-bottom:0;
    font-size:70px;
    font-weight:lighter;
}

@media only screen and (max-width:950px){
    .sleepHeaderTitle {
    font-size:40px;
    }
}

.sleepHeaderPic{
    width: 300px;
    height: 300px;
    object-fit: cover;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sleepHeaderPicDesc {
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 34px;
}

@media only screen and (max-width:950px){
    .sleepHeaderPicDesc {
    font-size:28px;
    }
}

.sleepPicks{
    padding-top:70px;
    padding-left:10px;
}

.sleepPicksHeader {
    font-size:34px;
    color:#000000;
    padding-left: 4%;
}

@media only screen and (max-width:950px){
    .sleepPicksHeader {
    font-size:28px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepPicksDesc{
    padding-left:20%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#ffffff;
}

.sleepImagesAll {
    display:flex; 
    justify-content:center;
}

@media only screen and (max-width:950px){
    .sleepImagesAll {
    flex-direction:column;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepPicksImage1 img{
    object-fit:cover;
    width:400px;
    height:250px;
    border-radius:15px;
}

.sleepPicksImage1 img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.sleepPicksImage1 {
    text-align: justify;
    width: 400px;
    padding-right:40px;
    font-size:22px;
}

@media only screen and (max-width:950px){
    .sleepPicksImage1 p{
    font-size:18px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepPicksImage2 img{
    object-fit:cover;
    width:400px;
    height:250px;
    border-radius:15px;
}

.sleepPicksImage2 img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.sleepPicksImage2 {
    text-align: justify;
    width: 400px;
    padding-right:40px;
    font-size:22px;
}

@media only screen and (max-width:950px){
    .sleepPicksImage2 p{
    font-size:18px;
    padding-left:auto;
    padding-right:auto;
    }
}


.sleepPicksImage3 img{
    object-fit:cover;
    width:400px;
    height:250px;
    border-radius:15px;
}

.sleepPicksImage3 img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.sleepPicksImage3 {
    text-align: justify;
    width: 400px;
    padding-right:40px;
    font-size:22px;
}

@media only screen and (max-width:950px){
    .sleepPicksImage3 p{
    font-size:18px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepPopular {
    font-size:34px;
    padding-left:4%;
    padding-top:2%;
}

@media only screen and (max-width:950px){
    .sleepPopular {
    font-size:28px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepPopularImagesAll {
    display:flex; 
    justify-content:center;
}

@media only screen and (max-width:950px){
    .sleepPopularImagesAll {
    flex-direction:column;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepPopularImage1 img{
    object-fit:cover;
    width:400px;
    height:250px;
    border-radius:15px;
}

.sleepPopularImage1 img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.sleepPopularImage1 {
    text-align: justify;
    width: 400px;
    padding-right:40px;
    font-size:22px;
}

@media only screen and (max-width:950px){
    .sleepPopularImage1 p{
    font-size:18px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepPopularImage2 img{
    object-fit:cover;
    width:400px;
    height:250px;
    border-radius:15px;
}

.sleepPopularImage2 img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.sleepPopularImage2 {
    text-align: justify;
    width: 400px;
    padding-right:40px;
    font-size:22px;
}

@media only screen and (max-width:950px){
    .sleepPopularImage2 p{
    font-size:18px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepPopularImage3 img{
    object-fit:cover;
    width:400px;
    height:250px;
    border-radius:15px;
}

.sleepPopularImage3 img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.sleepPopularImage3 {
    text-align: justify;
    width: 400px;
    padding-right:40px;
    font-size:22px;
}

@media only screen and (max-width:950px){
    .sleepPopularImage3 p{
    font-size:18px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepNew {
    font-size:34px;
    padding-top:5%;
    padding-left:4%;
}

@media only screen and (max-width:950px){
    .sleepNew {
    font-size:28px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepNewImageText1 {
    font-size:34px;
    font-weight:lighter;    
    position: absolute;
    z-index:10;
    left: 6%;
    color:#ffffff;
}

@media only screen and (max-width:950px){
    .sleepNewImageText1 {
    font-size:25px;
    z-index:10;
    top:0;
    position:absolute;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepNewImageText2 {
    font-size:34px;
    font-weight:lighter;
    position: absolute;
    left: 54%;
    color:#ffffff;
}

@media only screen and (max-width:950px){
    .sleepNewImageText2 {
    font-size:25px;
    z-index:10;
    top:50%;
    left:5%;
    position:absolute;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepNewImagesAll {
    display:flex; 
    justify-content:center;
    position:relative;
}

@media only screen and (max-width:950px){
    .sleepNewImagesAll {
    flex-direction:column;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepNewImage1 img{
    object-fit:cover;
    width:620px;
    height:350px;
    border-radius:15px;
}

@media only screen and (max-width:950px){
    .sleepNewImage1 img {
    width:400px;
    height:250px;
    }
}

.sleepNewImage1 img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.sleepNewImage1 {
    text-align: justify;
    width: 620px;
    padding-right:35px;
    font-size:22px;
}

@media only screen and (max-width:950px){
    .sleepNewImage1 {
    width:400px;
    font-size:18px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepNewImage2 img{
    object-fit:cover;
    width:620px;
    height:350px;
    border-radius:15px;
}

@media only screen and (max-width:950px){
    .sleepNewImage2 img {
    width:400px;
    height:250px;
    }
}

.sleepNewImage2 img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.sleepNewImage2 {
    text-align: justify;
    width: 620px;
    font-size:22px;
}

@media only screen and (max-width:950px){
    .sleepNewImage2 {
    width:400px;
    font-size:18px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepRecents {
    justify-content: space-around;
    padding-top:5%;
    padding-left:4%;
    font-size:34px;
}

@media only screen and (max-width:950px){
    .sleepRecents {
    font-size:28px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepRecentImagesTop {
    display:flex; 
    justify-content:center;
}

@media only screen and (max-width:950px){
    .sleepRecentImagesTop {
    flex-direction:column;
    padding-left:auto;
    padding-right:auto;
    }
}


.sleepRecentImagesBottom {
    display:flex; 
    justify-content:center;
}

@media only screen and (max-width:950px){
    .sleepRecentImagesBottom {
    flex-direction:column;
    padding-left:auto;
    padding-right:auto;
    }
}


.sleepRecentImage1 {
    text-align:justify;
    width:400px;
    margin:25px;
    font-size:22px;
}

@media only screen and (max-width:950px){
    .sleepRecentImage1 {
    font-size:18px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepRecentImage1 img {
    object-fit:cover;
    flex-grow: 1;
    margin: 5px;
    width:400px;
    height:250px;
    border-radius:15px;
}

.sleepRecentImage1 img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.sleepRecentImage2 {
    text-align:justify;
    width:400px;
    margin:25px;
    font-size:22px;
}

@media only screen and (max-width:950px){
    .sleepRecentImage2 {
    font-size:18px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepRecentImage2 img {
    object-fit:cover;
    flex-grow: 1;
    margin: 5px;
    width:400px;
    height:250px;
    border-radius:15px;
}

.sleepRecentImage2 img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.sleepRecentImage3{
    text-align:justify;
    width:400px;
    margin:25px;
    font-size:22px;
}

@media only screen and (max-width:950px){
    .sleepRecentImage3 {
    font-size:18px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepRecentImage3 img {
    object-fit:cover;
    flex-grow: 1;
    margin: 5px;
    width:400px;
    height:250px;
    border-radius:15px;
}

.sleepRecentImage3 img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.sleepRecentImage4{
    text-align:justify;
    width:400px;
    margin:25px;
    font-size:22px;
}

@media only screen and (max-width:950px){
    .sleepRecentImage4 {
    font-size:18px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepRecentImage4 img {
    object-fit:cover;
    flex-grow: 1;
    margin: 5px;
    width:400px;
    height:250px;
    border-radius:15px;
}


.sleepRecentImage4 img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}


.sleepRecentImage5{
    text-align:justify;
    width:400px;
    margin:25px;
    font-size:22px;
}

@media only screen and (max-width:950px){
    .sleepRecentImage5 {
    font-size:18px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepRecentImage5 img {
    object-fit:cover;
    flex-grow: 1;
    margin: 5px;
    width:400px;
    height:250px;
    border-radius:15px;
}


.sleepRecentImage5 img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

.sleepRecentImage6 {
    text-align:justify;
    width:400px;
    margin:25px;
    font-size:22px;
}

@media only screen and (max-width:950px){
    .sleepRecentImage6 {
    font-size:18px;
    padding-left:auto;
    padding-right:auto;
    }
}

.sleepRecentImage6 img {
    object-fit:cover;
    flex-grow: 1;
    margin: 5px;
    width:400px;
    height:250px;
    border-radius:15px;
}

.sleepRecentImage6 img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}

/*SLEEP FOOTER*/
.sleepFooter{
    background-color: #D2ECFF;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 540px;
}

@media only screen and (max-width:950px){
    .sleepFooter{
    flex-direction: column;
    gap: 50px;
    padding: 30px 50px;
    height:305px;
    }
}

.sleepFooter1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sleepFooterListItem{
    font-size: 18px;
    color: #000000;
}

@media only screen and (max-width:950px){
    .sleepFooterListItem{
    font-size:16px;
    }
}

.sleepFooterSectionTitle{
    font-size: 24px;
    padding-bottom: 5px;
    font-weight: 600;
    color: #000000;
}

@media only screen and (max-width:950px){
    .sleepFooterSectionTitle{
    font-size:17px;
    }
}

.sleepFooter1Header {
    margin: 0;
    padding-bottom: 10px;
    color: #000000;
    font-size: 38px;
}

@media only screen and (max-width:950px){
    .sleepFooter1Header{
    font-size:20px;
    }
}

.sleepFooter1Description {
    margin: 0;
    font-size: 18px;
    color: #000000;
}

@media only screen and (max-width:950px){
    .sleepFooter1Description{
    font-size:16px;
    }
}

.sleepFooter2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

.sleepFooter2List {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000000;
}
/*END SLEEP FOOTER*/



/*Mood Page*/
.moodBody , .moodHTML {
    height: 100%;
    margin: 0px;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}


.moodNav{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #D2ECFF;
    gap: 75px;
}

.moodSearchAndProfile{
    padding-left: 250px;   
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
}

.moodNavBrand{
    font-size: 28px;
    color: #000000;
    font-weight: 700;
}

.moodNavSleep{
    font-size: 21px;
    color: #000000;
}

.moodNavSleep:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.moodNavMood{
    font-size: 21px;
    font-weight: 700;
    text-decoration: underline;
    color: #000000; 
}

.moodNavMood:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.moodNavMeditation{
    font-size: 21px;
    color: #000000;
}


.moodNavMeditation:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.moodNavResource{
    font-size: 21px;
    color: #000000;
}

.moodNavResource:hover{
    border-bottom: 2px solid #000000;
    font-weight:bold;
}

.searchIcon{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

span.searchField {
    position: absolute;
    display: none; 
    width: auto;
    top: 4%;
    right: 15%; 
    color: #F9F4F2;
    padding: 5px;
}

input#searchBar{
    font-size: 20px;
    border-radius: 10px;
}

a:hover .searchField {
    display: block; 
    text-align: center;

}



.moodSection1{
    display: flex;
    flex-direction: column;
    height: 592px; 
    background-color: #F9F4F2;
    color: #191919;
    padding-left: 320px;
    padding-top: 84px;
}

@media only screen and (max-width:950px){
    .moodSection1{
    padding: 30px 50px;
    height: 800px;
    min-width: 500px;
    }
}


.moodSection1 h3{
    font-size: 24px;
    font-weight: lighter;
}

h1.moodAnimationInstruct{
    font-size: 70px;
    font-weight: lighter;
    margin: 2px 0px 0px 0px;
}

.moodAnimationSlogan::before{
    position: absolute;
    justify-content: center;
    margin-top: 98px;
    width: 70%;
    content: '';
    animation: moodAnimate infinite 50s;
    font-size: 100px;
    text-align: center;
    color: #191919;
    font-weight: lighter;
}

@keyframes moodAnimate{
    0%{
        content:'I am Enough.';
    }
    25%{
        content:'I can be kind to myself.';
    }
    50%{
        content:'I am not alone.';
    }
    75%{
        content:'I am capable.';
    }
    100%{
        content:'I can face my challenges.';
    }
}

/*Timer bar works but I can't get it to sync properly with the words. Removed for now :(*/
/*.timerBar{
    position: relative;
    width: 50%; 
    height: 2%;
    left: 250px;
    top: 125px;
    background: black;
    border-radius: 5px;
    animation: countDown infinite 10s;
}

@keyframes countDown{
    100%{
        width: 0%;
    }
}*/

.moodExercises{
    display: flex;
    flex-direction: column;
    padding-top: 171px;
}

h3.h3Spacing{
    padding-top: 120px;
}

.moodQuestionImg{
    height: 20px;
    padding-left: 5px;
}

.moodExercises h3, .moodExercises p{
    position: relative;
    left: 320px;
    font-size: 30px;
}

@media only screen and (max-width:950px){
    .moodExercises h3, .moodExercises p{
    padding: 30px 30px;
    left: 30px;
    }
}

.moodQicon{
    height: 25px;
}

a .questionInfo {
    position: absolute;
    display: none; 
    color: #191919; 
    background: #00B295;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
}

a:hover .questionInfo {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    text-align: center;
}

@media only screen and (max-width:950px){
    a:hover .questionInfo{
    max-width: 250px;
    }
}
/*Mood Activities (Activities)*/
.activityText{
    display: grid;
    grid-template: 
    "a b" 76px
    "c d" 76px
    "e e" 95px
        ;
    padding: 30px 376px;
    gap: 20px;
}

@media only screen and (max-width:950px){
    .activityText{
    grid-template:
    "a ." 76px
    "b ." 76px
    "c ." 76px
    "d ." 76px
    "e ." 95px
    ;
    padding: 30px 50px;
    }
}

#activity1{
    grid-area: a;
    background: #EFEFEF;

}

#activity2{
    grid-area: b;
    background: #EFEFEF;

}

#activity3{
    grid-area: c;
    background: #EFEFEF;

}

#activity4{
    grid-area: d;
    background: #EFEFEF;

}

.moodSaveExc{
    grid-area: e;
}

.activityText input, .activityTextMind input{
    padding-left: 46.64px;
    padding-top: 22px;
    padding-bottom: 25px;
    border-radius: 30px;
    border: 1px solid #444444;
    font-size: 24px;
}

/*Mood Mindfulness Activity*/
.activityTextMind{
    display: grid;
    grid-template: 
    "f g" 76px
    "h i" 76px
    "j ." 76px
    "k k" 95px
    ;
    padding: 30px 376px;
    gap: 20px;
}

@media only screen and (max-width:950px){
    .activityTextMind{
    grid-template:
    "f ." 76px
    "g ." 76px
    "h ." 76px
    "i ." 76px
    "j ." 76px
    "k ." 95px
    ;
    padding: 30px 50px;
    }
}

#moodSight{
    grid-area: f;
    background: #EFEFEF;

}

#moodSmell{
    grid-area: g;
    background: #EFEFEF;

}

#moodTouch{
    grid-area: h;
    background: #EFEFEF;

}

#moodTaste{
    grid-area: i;
    background: #EFEFEF;

}

#moodHearing{
    grid-area: j;
    background: #EFEFEF;
}

.moodSaveJou{
    grid-area: k;
}


/*Mood Goal Setting Activity*/
.activityTextGoal{
    display: grid;
    grid-template: 
    "l m" 70px
    "n o" 70px
    "p q" 70px
    "r ." 70px
    "s s" 70px
    ;
    padding: 30px 376px;
    gap: 20px;
}

@media only screen and (max-width:950px){
.activityTextGoal{
    grid-template:
    "l l" 70px
    "m m" 70px
    "n n" 70px
    "o o" 70px
    "p p" 70px
    "q q" 70px
    "r r" 70px
    "s ." 70px
    ;
    padding: 30px 50px;
    }
}

.moodGoals{
    font-size: 24px;
    border-radius: 20px;
}

.moodGoalBed{
    grid-area: l;
    background-image: url("MoodGoalBed.jpg") ;
    background-position-x: -25%;
    background-position-y: 77%;
    background-size: 300px 200px; 
    background-repeat: no-repeat;
}

.moodGoalGroc{
    grid-area: m;
    background-image: url("MoodGoalGrocery.jpg") ;
    background-position-x: -25%;
    background-position-y: 60%;
    background-size: 300px 200px; 
    background-repeat: no-repeat;
}

.moodGoalEat{
    grid-area: n;
    background-image: url("MoodGoalApple.jpg") ;
    background-position-x: -25%;
    background-position-y: 50%;
    background-size: 300px 200px; 
    background-repeat: no-repeat;
}

.moodGoalLaund{
    grid-area: o;
    background-image: url("MoodGoalLaund.jpg") ;
    background-position-x: -10%;
    background-position-y: 77%;
    background-size: 300px 200px; 
    background-repeat: no-repeat;
}

.moodGoalWalk{
    grid-area: p;
    background-image: url("MoodGoalForest.jpg") ;
    background-position-x: -25%;
    background-position-y: 85%;
    background-size: 300px 200px; 
    background-repeat: no-repeat;
}

.moodGoalOwn{
    grid-area: q;
    background-image: url("MoodGoalFlower.jpg") ;
    background-position-x: -10%;
    background-position-y: 55%;
    background-size: 300px 200px; 
    background-repeat: no-repeat;
}

.moodGoalTalk{
    grid-area: r;
    background-image: url("MoodGoalTalk.jpg") ;
    background-position-x: -10%;
    background-position-y: 55%;
    background-size: 300px 200px; 
    background-repeat: no-repeat;
}

.moodSaveGoal{
    grid-area: s;
    height: 90px;
}

/*The original checkbubble hidden*/  
.moodGoals input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
/*New check bubble*/  
.checkbubble {
    position: absolute;
    text-align: center;
    margin-left: 182px;
    height: 70px;
    width: 225px;
    background-color: #F9F4F2;
    border-radius: 20px;
  }

@media only screen and (max-width:950px){
    .checkbubble {
        position: absolute;
        text-align: center;
        margin-left: 124px;
        height: 70px;
      }
  }

  
  /*The squiggly line = select all the .checkbubble classes within "input"*/
.moodGoals:hover input ~ .checkbubble {
    background-color: #C1C7DE;
    cursor: pointer;
  }
.moodGoals input:checked ~ .checkbubble {
    background-color: #3D3F46;
    color: #F9F4F2;
  }

/*Mood Gratefulness Activity*/

.activityTextGrateful{
    display: grid;
    grid-template: 
    "t t" 158px
    "u u" 95px
    ;
    padding: 30px 376px;
    gap: 20px;
}

@media only screen and (max-width:950px){
    .activityTextGrateful{
    grid-template:
    "t ." 100px
    "u ." 95px
    ;
    padding: 30px 50px;
    }

}

#moodJournal{
    grid-area: t;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    padding: 1%;
}

.moodSaveGfn{
    grid-area: u;
    margin-bottom: 69px;
}


/*Mood Buttons*/
.moodButtons{
    background: #42113C;
    color: #F9F4F2;
    font-size: 24px;
    border-radius: 30px;
    margin: 0px 300px;
    border: 1px solid #444444;
    min-width: 200px;
}

@media only screen and (max-width:950px){
    .moodButtons{
    margin: 0px;
    }
}

.moodButtons:hover{
    background-color: #444444;
    cursor: pointer;
}

/*Mood Footer*/
.moodFooter{
    background-color: #D2ECFF;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 540px;
}

@media only screen and (max-width:950px){
    .moodFooter{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px 50px;
    height: 750px;
    }
}

.moodFooter1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.moodFooterListItem{
    font-size: 18px;
    color: #000000;
}

.moodFooterSectionTitle{
    font-size: 24px;
    padding-bottom: 5px;
    font-weight: 600;
    color: #000000;
}

.moodFooter1Header {
    margin: 0;
    padding-bottom: 10px;
    color: #000000;
    font-size: 38px;
}

.moodFooter1Description {
    margin: 0;
    font-size: 18px;
    color: #000000;
}

.moodFooter2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

@media only screen and (max-width:950px){
    .moodFooter2{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px 0px;
    align-items: flex-start;
    }
}

.moodFooter2List {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000000;
}

/*Resource Page*/

/*Resources Nav Bar starts*/
.resBody , reshtml {
    height: 100%;
    margin: 0px;
    background-color: #D6EDFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resA{
    text-decoration: none;
}

.resNav{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profilePic{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 60px;
}

.resNavBrand{
    font-size: 28px;
    color: #000000;
    font-weight: 700;
}

.resNavSleep{
    font-size: 21px;
    color: #000000;
}

.resNavMood{
    font-size: 21px;
    color: #000000;
}

.resNavMeditation{
    font-size: 21px;
    color: #000000;
}

.resNavResource{
    font-size: 21px;
    font-weight: 700;
    text-decoration: underline;
    color: #000000;
}

.searchIcon{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
/*Resources Nav Bar ends*/

.ResSection1{
    background-color: #40798C;
    height: 920px;
}

.resHeading{
    font-size: 30px;
}

.ResSection1Header{
    padding-top: 100px;
    font-size: 70px;
    color: white;
    text-align: center;
    
}
.ResSection1Top{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
    justify-content: center;
    padding-top: 20px;
}
.rounded{
    border-radius: 22px;
}
.MassageCol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-one{
    background-color: #F9F4F2; 
    border: none; 
    color: black;
    margin-top: 40px;
    border-radius: 22px;
    padding: 40px;
    width: 55%;
    margin-bottom: 15px;
    font-size: 20px;
    cursor: pointer;
}
.AcupunctureCol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-two{
    background-color: #F9F4F2; 
    border: none; 
    color: black;
    margin-top: 40px;
    border-radius: 22px;
    padding: 40px;
    width: 55%;
    margin-bottom: 15px;
    font-size: 20px;
    cursor: pointer;
}
.CounsellingCol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-three{
    background-color: #F9F4F2; 
    border: none; 
    color: black;
    margin-top: 40px;
    border-radius: 22px;
    padding: 40px;
    width: 55%;
    margin-bottom: 15px;
    font-size: 20px;
    cursor: pointer;
}

.ResSection2{
    background-color: #D6EDFF;
    justify-content: center;
    height: 93%;
    margin: 0;
    padding: 5px 11% 0px 4%;
}

.row-one{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    cursor: pointer;
    object-fit: cover;
}
.row-two{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    cursor: pointer;
    object-fit: cover;
}
.ResSection2Part1{
    margin-left: 9%;
}
.ResSection2Part2{
    height: 88%;
    margin: 0;
    padding: 5px 11.5% 0px 11.5%;
}

.ResBox1{  
    display: flex;
    justify-content: space-between;
}

.ResRightBox{
    display: flex;
    flex-direction: column;
    background-color: #F9F4F2;
    width: 344px;
    border-radius: 40px;
    height: 470px;
    text-align: center;
}
.ResBox2{
    display: flex;
    flex-direction: column;
    background-color: #F9F4F2;
    width: 344px;
    border-radius: 40px;
    height: 470px;
    text-align: center;
}
.ResBox3{
    display: flex;
    flex-direction: column;
    background-color: #F9F4F2;
    width: 344px;
    border-radius: 40px;
    height: 470px;
    text-align: center;
}


.ResBox1:hover{
    cursor: pointer;
}

.ResS1HeaderText{
    font-size: 24px;
    color: #191919;
    margin: 0;
}

.ResBoxTop{
    padding-top: 15px;
    padding-left: 35px;
}
.ResSection2Part3{
    padding: 5px 11% 0px 4%;
    margin: 0 0 0 7.5%;
}

.ResBoxBottom{
    padding-top: 70px;
}
.Headshot{
    border-radius: 40px;
    border: solid 2px black;
    margin-top: 20px;
    margin-left: 40px;
    object-fit: cover;
}
select{
    padding-left: 20%;
    width: 87.5%;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    border: solid 2px black;
    font-size: 18px;
    background-color: #F9F4F2;
    justify-content: center;
}

.ResourcesProBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F4F2;
    width: 100%;
    border-radius: 40px;
    height: 280px;
}

.ResourcesProfileIcon{
    width: 70px;
    height: 70px;
    object-fit: cover;
    padding-left: 15px;
    padding-top: 10px;
    padding: 10px 15px 0 15px
}

.ResourcesProfile{
    display: flex;
    margin: 4% 0%;
    /*padding-left: 50px;
    padding-top: 10px;*/
}

.ResourcesProfile2{
    display: flex;
    margin: 3% 0%;
    /*padding-left: 50px;
    padding-top: 70px;*/
}

.ResourcesProText{
    font-size: 24px;
    color: #444444;
    margin: 0;
}
.RevStar{
    display: flex;
    flex-direction: row;
    align-items: center;
    object-fit: cover;
    gap: 5px;
}

.ResSection2Part4{
    padding: 5px 0% 0px 11.5%;
}

.ResourcesS1HeaderText{
    font-size: 24px;
    color: #191919;
    margin: 0;
}

.ResSection2Part5{
    padding: 5px 11.5% 0px 11.5%;
}

.ResourcesS1-1RightTop{
    padding-top: 15px;
    padding-left: 35px;
}

.ResourcesProBottom{
    padding-top: 10px;
    justify-content: center;
}

.Resources2BoxImage{
    width: 400px;
    height: 238px;
    object-fit: cover;
    border-radius: 15px;
    transition: 300ms;
}

.Resources2BoxImage:hover{
    box-shadow: 10px 10px 30px black;
    transition: 300ms;
}
.ResProText{
    display: flex;
    flex-direction: column;
}
.helpbuttons{
    display: flex;
    justify-content: space-between;
}
.btn-help{
    background-color: #28444D; 
    border: none; 
    color: black;
    margin-top: 20px;
    border-radius: 15px;
    padding: 0px;
    width: 250px;
    height: 60px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    color: white;
}


/*Footer*/
.ResFooter{
    background-color: #28444D;
    height: 369px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ResFooter1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ResFooterListItem{
    font-size: 18px;
    color: #F9F4F2;
}

.ResFooterSectionTitle{
    font-size: 24pt;
    padding-bottom: 5px;
    font-weight: 600;
    color: #F9F4F2;
}

.ResFooter1Header {
    margin: 0;
    padding-bottom: 10px;
    color: #F9F4F2;
    font-size: 38px;
}

.ResFooter1Header{
    cursor: pointer;
}

.ResFooter1Description {
    margin: 0;
    font-size: 18px;
    color: #F9F4F2;
}

.ResFooter2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

.ResFooter2List {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #F9F4F2;
}

.ResFooter2List:hover{
    cursor: pointer;
}

/*END FOOTER*/
